{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }]
  ],
  "plugins": ["transform-vue-jsx", "@babel/transform-runtime"],
  "env": {
    "test": {
      "presets": ["@babel/env"],
      "plugins": ["transform-vue-jsx", "istanbul"]
    }
  }
}
