.gitignore
/helpers/**
/perf/**
**/node_modules/**
*.d.ts
/packages/*/dist/
/packages/*/testResources/**
/packages/*/src-generated/**
/packages/*/reports/**
/packages/*/coverage/**
/packages/grunt-stryker/tasks/**

# Ignore parts of the e2e/test dirs, but lint the verify.js files
/e2e/test/*/*.js
/e2e/test/*/*.ts
/e2e/test/*/src/**
/e2e/test/*/test/**
/e2e/test/*/tests/**
/e2e/test/*/client/**
/e2e/test/*/spec/**
/e2e/test/*/tasks/**
/e2e/test/*/features/**
/e2e/test/*/cucumber-features/**
/e2e/test/*/sampleProject/**
/e2e/test/*/__mocks__/**
/e2e/test/*/packages/**
/e2e/test/*/lib/**