node_modules
lerna-debug.log
npm-debug.log
stryker.log
lint.log

coverage
reports
.tscache
stryker-tmp
.stryker-tmp-2
.stryker-tmp-2
*.map
# Ignore heap dumps
packages/report.*.json

e2e/module/*.js
e2e/module/*.map
e2e/module/*.d.ts
e2e/*.js
e2e/*.map
e2e/*.d.ts
packages/*/src/**/*.js
packages/*/test/**/*.js
packages/*/src/**/*.d.ts
packages/*/test/**/*.d.ts
.idea
*.iml
*.tmp.txt
.nyc_output
package-lock.json
.DS_Store
tsconfig.*.tsbuildinfo
src-generated
__filterSpecs.js