module.exports = function(config){
  config.set({
    files: [
        // Add your files here, this is just an example:
        { pattern: 'src/**/*.js', mutated: true, included: false},
        'test/**/*.js'
    ],
    testRunner: '%testRunner%',
    testFramework: '%testFramework%',
    coverageAnalysis: 'perTest',
    reporter: ['html', 'progress'],
  });
}