# Ignore parts of the e2e/test dirs, but lint the verify.js files
/test/*/*.js
/test/*/*.ts
/test/*/src/**
/test/*/test/**
/test/*/tests/**
/test/*/client/**
/test/*/spec/**
/test/*/tasks/**
/test/*/features/**
/test/*/cucumber-features/**
/test/*/sampleProject/**
/test/*/__mocks__/**
/test/*/packages/**
/test/*/lib/**