/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(170, 177, 228);
}

.kantilever-button {
  background-color: rgb(45, 57, 142) !important;
  color: #ffffff;
}

.kantilever-button:hover {
  color: #ffffff;
}
