name: mutation testing

on:
  push: ~
  pull_request: ~
  schedule:
    - cron:  '0 12 * * *'

jobs:
  core:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install & Build
        run: |
          npm install
          npm run build
      - name: Run Stryker
        run: |
          cd packages/core
          npm run stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

  stryker-1: 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install & Build
        run: |
          npm install
          npm run build
      - name: Run Stryker
        run: |
          cd packages/api
          npm run stryker
          cd ../babel-traspiler
          npm run stryker
          cd ../html-reporter
          npm run stryker
          cd ../jasmine-framework
          npm run stryker
          cd ../javascript-mutator
          npm run stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

  stryker-2: 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install & Build
        run: |
          npm install
          npm run build
      - name: Run Stryker
        run: |
          cd packages/jasmine-runner
          npm run stryker
          cd ../jest-runner
          npm run stryker
          cd ../karma-runner
          npm run stryker
          cd ../mocha-framework
          npm run stryker
          cd ../mocha-runner
          npm run stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
  
  stryker-3: 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install & Build
        run: |
          npm install
          npm run build
      - name: Run Stryker
        run: |
          cd packages/typescript
          npm run stryker
          cd ../vue-mutator
          npm run stryker
          cd ../webpack-transpiler
          npm run stryker
          cd ../wct-runner
          npm run stryker
          cd ../util
          npm run stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
