name: Performance

on:
  workflow_dispatch:
    inputs:
      PERF_TEST_GLOB_PATTERN:
        description: 'Glob pattern'     
        required: true
        default: '*'

jobs:
  performance_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with: 
        submodules: recursive
    - name: Install dependencies
      run: npm install
    - name: Build packages
      run: npm run build
    - name: Run performance tests
      run: npm run perf
      env:
        PERF_TEST_GLOB_PATTERN: ${{ github.event.inputs.PERF_TEST_GLOB_PATTERN }}
    - name: Store reports
      uses: actions/upload-artifact@v2
      with:
        name: mutation-testing-reports
        path: perf/test/*/reports/mutation